html { 
    font-size:100%;
    scroll-behavior: smooth;
}
/*https://stackoverflow.com/questions/7961721/how-do-i-install-a-custom-font-on-an-html-site*/
 @font-face { font-family: Roboto; src: url('font/Roboto_Mono/RobotoMono-Regular.ttf'); }

/*https://dzone.com/articles/using-csshtml-make-responsive*/
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.3rem;} } 
@media (min-width:1100px) { body {font-size:1.7rem;} }

.foto {
    height: auto;
    width: 101.5%;
    margin: -0.5em;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    z-index: 0;
}

.fotostart {
    opacity: 0.6;
    height: auto;
    width: 101.5%;
    margin: -0.5em;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    z-index: 0;
}


.hoofdpagina {
    position: relative;
    align-content: center;
    color: black;
}

.home {
    position: fixed;
    text-decoration: none;
    color: #004e5a;
    font-family: "Roboto", sans-serif; 
    background-color: #91b5b4;
    padding: 5px;
    border-bottom: 5px solid #004e5a ;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 30;
    font-size: 21px;
}

.home:hover{
    background-color: #e8e69e;
    transition: 0.5s ease-in-out;
}

.titel {
    font-family: "Roboto", sans-serif; 
    position: absolute;
    top: 50px;
    left: 80px;
    font-size: 3em;
    color: #91b5b4; 
    background-color: #004e5a;
    border-bottom: 5px solid #91b5b4;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 2;
}

.ondertitel {
    font-family: "Roboto", sans-serif;
    position: absolute;
    text-decoration: none;
    color: #004e5a;
    background-color: #91b5b4;
    z-index: 12;
    padding: 10px;
    font-size: 0.4em;
    border-bottom: 3px solid #004e5a;
    top: 29vh;
    left: 108px;
}

.ondertitel:hover {
    background-color: #e8e69e;
    transition: 0.5s ease-in-out;
}

.titel2 {
    font-family: "Roboto", sans-serif;
    position: absolute;
    right: 80px;
    font-size: 1.7em;
    color: #004e5a;
    background-color: #91b5b4;
    border-bottom: 5px solid #004e5a;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    text-align: right;
    z-index: 11;
    top: 33vh;
}

.uitleg {
    font-family: "Roboto", sans-serif;
    position: absolute;
    right: 80px;
    font-size: 0.7em;
    color: #004e5a;
    background-color: #91b5b4;
    border-bottom: 5px solid #004e5a;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 12px;
    margin-left: 35em;
    z-index: 10;
    top: 47vh;
    width: 42vw;  
}

.start {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 5px;
    color: #91b5b4;
    text-decoration: none;
    z-index: 30;
    top: 84vh;
    left: 55vw;
    width: 7vw;
    position: absolute;
    background-color: #004e5a;  
}

.start:hover {
    background-color: #e8e69e;
    transition: 0.5s ease-in-out;
}

.start {
    animation: beweeg 2s ease-in-out infinite;
}

@keyframes beweeg {
    0% {
        transform: scale(1)
    }
    
    50% {
        transform: scale(1.08)
    }
    
    100% {
        transform: scale(1)
    }
}


.background {
    top: 25em;
    width: 101.5%;
    margin: -0.5em;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 15;
}


.klik {
    background-color: #004e5a;
    position: fixed;
    top: 4em;
    left: 16em;
    z-index: 11;
    width : 40px;
    height: 40px;
    border-radius: 360px;
    transition: 0.5s ease;
}

.klik {
    animation: knipper 5s ease-in-out infinite;
}

@keyframes knipper {
    0% {
    background-color: #004e5a;
    }
    
    50% {
      background-color: lightblue;
    }
    
    100% {
       background-color: #004e5a;
    }
}

.klik:hover .antwoord1 {
    opacity: 1;
}

.antwoord1 {
    border-bottom: solid 5px #91b5b4;
    background-color: #004e5a;
    position: fixed;
    top: 3em;
    left: 7em;
    opacity: 0;
    transition: .5s ease;
    z-index: 11;
    padding-right: 10px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}

#antw {
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.titeltext {
    background-color: #004e5a;
    font-family: "Roboto", sans-serif;
    color: #e8e69e;
    font-size: 20px; 
    margin-top:10px;
    margin-bottom: 3px;
    
}


#text2 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#text3 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#antwoord1vervolg {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 2s ease-in-out;

    
}

#antwoord2vervolg {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}

.aarsman {
    color: #e8e69e;
}



.klik2 {
    background-color: #004e5a;
    position: fixed;
    top: 20.5em;
    left: 26em;
    z-index: 11;
    width : 40px;
    height: 40px;
    border-radius: 360px;
    transition: 0.5s ease;
    
}

.klik2 {
    animation: knipper2 5s ease-in-out infinite;
}

@keyframes knipper2 {
    0% {
    background-color: #004e5a;
    }
    
    50% {
      background-color: lightblue;
    }
    
    100% {
       background-color: #004e5a;
    }
}

.klik2:hover .antwoord1-2 {
    opacity: 1;
}

.antwoord1-2 {
    border-bottom: solid 5px #91b5b4;
    background-color: #004e5a;
    position: fixed;
    top: 15em;
    left: 20em;
    opacity: 0;
    transition: .5s ease;
    z-index: 12;
    padding-right: 10px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}

#antw-2 {
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.titeltext-2 {
    background-color: #004e5a;
    font-family: "Roboto", sans-serif;
    color: #e8e69e;
    font-size: 20px; 
    margin-top:10px;
    margin-bottom: 3px;
    
}


#text2-2 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#text3-2 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#antwoord1vervolg-2 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 2s ease-in-out; 
}

#antwoord2vervolg-2 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.klik3 {
    background-color: #004e5a;
    position: fixed;
    top: 230px;
    left: 23em;
    z-index: 11;
    width : 40px;
    height: 40px;
    border-radius: 360px;
    transition: 0.5s ease;
}

.klik3 {
    animation: knipper3 5s ease-in-out infinite;
}

@keyframes knipper3 {
    0% {
    background-color: #004e5a;
    }
    
    50% {
      background-color: lightblue;
    }
    
    100% {
       background-color: #004e5a;
    }
}

.klik3:hover .antwoord1-3 {
    opacity: 1;
}

.antwoord1-3 {
    border-bottom: solid 5px #91b5b4;
    background-color: #004e5a;
    position: fixed;
   top: 60px;
    left: 23em;
    opacity: 0;
    transition: .5s ease;
    z-index: 12;
    padding-right: 10px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}

#antw-3 {
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.titeltext-3 {
    background-color: #004e5a;
    font-family: "Roboto", sans-serif;
    color: #e8e69e;
    font-size: 20px; 
    margin-top:10px;
    margin-bottom: 3px;
    
}


#text2-3 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#text3-3 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#antwoord1vervolg-3 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 2s ease-in-out; 
}

#antwoord2vervolg-3 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}

.klik4 {
    background-color: #004e5a;
    position: fixed;
    top: 400px;
    right: 11em;
    z-index: 11;
    width : 40px;
    height: 40px;
    border-radius: 360px;
    transition: 0.5s ease;
}

.klik4 {
    animation: knipper4 5s ease-in-out infinite;
}

@keyframes knipper4 {
    0% {
    background-color: #004e5a;
    }
    
    50% {
      background-color: lightblue;
    }
    
    100% {
       background-color: #004e5a;
    }
}

.klik4:hover .antwoord1-4 {
    opacity: 1;
}

.antwoord1-4 {
    border-bottom: solid 5px #91b5b4;
    background-color: #004e5a;
    position: fixed;
    top: 250px;
    right: 3em;
    opacity: 0;
    transition: .5s ease;
    z-index: 12;
    padding-right: 10px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}

#antw-4 {
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.titeltext-4 {
    background-color: #004e5a;
    font-family: "Roboto", sans-serif;
    color: #e8e69e;
    font-size: 20px; 
    margin-top:10px;
    margin-bottom: 3px;
    
}


#text2-4 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#text3-4 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#antwoord1vervolg-4 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 2s ease-in-out; 
}

#antwoord2vervolg-4 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.klik5 {
    background-color: #004e5a;
    position: fixed;
    top: 500px;
    left: 14em;
    z-index: 11;
    width : 40px;
    height: 40px;
    border-radius: 360px;
    transition: 0.5s ease;
}

.klik5 {
    animation: knipper5 5s ease-in-out infinite;
}

@keyframes knipper5 {
    0% {
    background-color: #004e5a;
    }
    
    50% {
      background-color: lightblue;
    }
    
    100% {
       background-color: #004e5a;
    }
}

.klik5:hover .antwoord1-5 {
    opacity: 1;
}

.antwoord1-5 {
    border-bottom: solid 5px #91b5b4;
    background-color: #004e5a;
    position: fixed;
    top: 320px;
    left: 5em;
    opacity: 0;
    transition: .5s ease;
    z-index: 12;
    padding-right: 10px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}

#antw-5 {
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.titeltext-5 {
    background-color: #004e5a;
    font-family: "Roboto", sans-serif;
    color: #e8e69e;
    font-size: 20px; 
    margin-top:10px;
    margin-bottom: 3px;
    
}


#text2-5 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#text3-5 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#antwoord1vervolg-5 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 2s ease-in-out; 
}

#antwoord2vervolg-5 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.klik6 {
    background-color: #004e5a;
    position: fixed;
    top: 540px;
    left: 32em;
    z-index: 11;
    width : 40px;
    height: 40px;
    border-radius: 360px;
    transition: 0.5s ease;
}

.klik6 {
    animation: knipper6 5s ease-in-out infinite;
}

@keyframes knipper6 {
    0% {
    background-color: #004e5a;
    }
    
    50% {
      background-color: lightblue;
    }
    
    100% {
       background-color: #004e5a;
    }
}

.klik6:hover .antwoord1-6 {
    opacity: 1;
}

.antwoord1-6 {
    border-bottom: solid 5px #91b5b4;
    background-color: #004e5a;
    position: fixed;
    top: 350px;
    left: 30em;
    opacity: 0;
    transition: .5s ease;
    z-index: 12;
    padding-right: 10px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}

#antw-6 {
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}


.titeltext-6 {
    background-color: #004e5a;
    font-family: "Roboto", sans-serif;
    color: #e8e69e;
    font-size: 20px; 
    margin-top:10px;
    margin-bottom: 3px;
    
}


#text2-6 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#text3-6 {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
}

#antwoord1vervolg-6 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 2s ease-in-out; 
}

#antwoord2vervolg-6 {
    display : none;
    font-family: "Roboto", sans-serif;
    color: #91b5b4;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;

}

.petfles {
    position: absolute;
    border: 5px solid #91b5b4;
    left: -100px;
    top: 160px;
    transform: scale(0.8);
}

.kind {
     position: absolute;
    border: 5px solid #91b5b4;
    left: -100px;
    top: 160px;
    transform: scale(0.8);
}

.stroom {
    position: absolute;
    border: 5px solid #91b5b4;
    left: -80px;
    top: 160px;
    transform: scale(1.01);
}

.auto{
    position: absolute;
    border: 5px solid #91b5b4;
    right: 10px;
    top: 210px;
    transform: scale(1.05);
}

.gat {
     position: absolute;
    border: 5px solid #91b5b4;
    right: 10px;
    top: 190px;
    transform: scale(1.05);
}

.jerrycan {
     position: absolute;
    border: 5px solid #91b5b4;
    right: 10px;
    top: 200px;
    transform: scale(1);
}


.klaarknop {
    text-align: center;
    background-color: #004e5a;
    border-bottom: 5px solid #003c42;
    color: #91b5b4 ;
    position: absolute;
    padding: 10px;
    bottom: 0px;
    z-index: 16;
    right: 100px;
    text-decoration: none;
}

.klaarknop:hover {
    background-color: #e8e69e;
    transition: 0.5s ease-in-out;
}



.titel3 {
    font-family: "Roboto", sans-serif; 
    font-weight: 600;
    position: absolute;
    top: 11em;
    left: 80px;
    font-size: 3em;
    color: #91b5b4; 
    background-color: #004e5a;
    border-bottom: 5px solid #003c42;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 16;
    width:vw;   
}

.uitleg2 {
    z-index: 17;
    position: absolute;
/*    background-color: #004e5a;*/
    font-family: "Roboto", sans-serif;
    color: #004e5a; 
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 5px solid #004e5a;
    width: 45vw;
    top: 59em;
    left: 80px;
    font-size: 0.7em;
}

#petitie {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #004e5a;
    border-bottom: 5px solid #003c42;
    color: #91b5b4;
    position: absolute;
    padding: 20px;
    bottom: -777px;
    z-index: 19;
    right: 100px;
}

#petitie:hover {
    background-color: #e8e69e;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#petitie {
    animation: beweeg 3s ease-in-out infinite;
}

@keyframes beweeg {
    0% {
        transform: scale(1)
    }
    
    50% {
        transform: scale(1.07)
    }
    
    100% {
        transform: scale(1)
    }
}


.water {
    z-index: 15;
    position: absolute;
    right: 83px;
    top: 1017px;;
    transform:scale(1.02);
    opacity:0;
    
}

.transform{
    animation: zien 5s ease forwards;
}

.water2 {
    z-index: 15;
    position: absolute;
    right: 83px;
    top: 1070px;;
    transform:scale(1.02);
    opacity:0;
    animation: zien 2s ease forwards;
}


.venezuela {
    z-index: 15;
    position: absolute;
    right: 25px;
    top: 30em;
    transform:scale(1.02);
}

.intext {
    position: absolute;
    z-index: 20;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 0.7em;
    color: #004e5a;
    left: 900px;
    top: 1000px;
    opacity:0;
    padding: 20px;
}

.intext:hover {
    opacity: 1;
    transition: 1s ease-in-out;
}



.mp3 {
    width: 101.5%;
    margin: -0.5em;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    z-index: 0;
}

